# General
.android/
.aws/
brazil-cache/
.gem/
.idea/
.local/
.rbenv/
.serverauth.*
.sqlworkbench/
.zshrc_private
crontasks

# RHEL desktop
*~
._*
.\#*
\#*\#
backups/
.bark
.bash_history
/build
.cache/
/.classpath
.config/
.dbus/
.dmrc
.elinks/
.emacs.bmk
.envimprovement/
.esd_auth
.fontconfig/
.gconf/
.gconfd/
git/
.gnome/
.gnome2/
.gstreamer-0.10/
.gtkrc-1.2-gnome2
.history
.htoprc
.ICEauthority
*.iml
.irssi/
.java_history
.kde/
.lesshst
.livewatch_control_masters/
.metacity/
.mozilla/
.mysql_history
.nautilus/
.post-review-cookies.txt
/.project
.qws/
.recently-used
.recently-used.xbel
.rnd
/.settings
.sqlite_history
# Daniel had this...why?
# src/
.ssh/
.subversion/
.thumbnails/
tmp/
.vboxclient-display.pid
.vboxclient-seamless.pid
.viminfo
.Xauthority
.xsession-errors
.zcompdump

# Mac OS X
.CFUserTextEncoding
.DS_Store
.Trash/
.account
.anyconnect
.cisco/
.cups/
.ssh_agent_info
.ssh_auth_sock
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
westerma.desktop.amazon.com/

# Eclipse
eclipse/
/eclipse-bin
